{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended",
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "useTabs": true,
        "tabWidth": 2
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
