{
  "extends": [
    "next/core-web-vitals",
    "plugin:prettier/recommended",
    "next",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier-error": [
      "error",
      {
        "useTabs": true
      }
    ],
    "prettier/prettier-warn": [
      "warn",
      {
        "singleQuote": true
      }
    ]
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
