@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', 'Comic Sans MS', 'Times New Roman', sans-serif;
}

html,
body,
:root {
	min-height: 100%;
	font-size: inherit;
}

@layer base {
	:root [data-theme='light'] {
		--color-white2white: 255 255 255;
		--color-white2darkgrey: 255 255 255;
		--color-white2verydarkgrey: 255 255 255;
		--color-grey2white: 177 177 177;
		--color-black2white: 0 0 0;
		--color-black2grey: 0 0 0;
		--color-sky2002sky600: 186 230 253;
		--color-sky6002sky200: 2 132 199;
	}
	:root [data-theme='dark'] {
		--color-white2white: 255 255 255;
		--color-white2darkgrey: 48 49 52;
		--color-white2verydarkgrey: 32 33 36;
		--color-grey2white: 255 255 255;
		--color-black2white: 255 255 255;
		--color-black2grey: 177 177 177;
		--color-sky2002sky600: 2 132 199;
		--color-sky6002sky200: 186 230 253;
	}
}
