@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', 'Comic Sans MS', 'Times New Roman', sans-serif;
}

html,
body,
:root {
	min-height: 100%;
	font-size: inherit;
}

@layer base {
	:root {
		--body-color-light: #f5f2f5;
		--body-2-color-light: var(--body-color);
		--text-color-light: #0ea5e9;

		--body-color-dark: #444;
		--body-2-color-dark: #2c2c2c;
		--text-color-dark: white;
	}
}

body {
	background: var(--body-color);
}
